<div{{ attributes }} data-poll="delay(10000)|$render">
    <h1>{{ this.project.name }}</h1>
    <h2>{{ this.branch }}</h2>
    <table class="table table-striped table-hover table-borderless">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
        {% for commit in this.commits %}
            <tr>
                <td>
                    {% if loop.first %}
                        <button type="button" class="btn p-0 align-middle" data-bs-toggle="modal" data-bs-target="#merge-request-{{ this.branch }}">
                            {{ ux_icon('bi:git') }}
                        </button>
                        <div class="modal fade" id="merge-request-{{ this.branch }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ this.branch }}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <select class="form-select" onchange="window.open(this.options[this.selectedIndex].value)">
                                            <option selected>Target</option>
                                            {% for target in this.branches %}
                                                {% if this.branch != target.name and target.protected %}
                                                    <option value="{{ this.project.instance.url }}/{{ this.project.path }}/-/merge_requests/new?merge_request%5Bsource_project_id%5D={{ this.project.projectId }}&merge_request%5Bsource_branch%5D={{ this.branch|url_encode }}&merge_request%5Btarget_project_id%5D={{ this.project.projectId }}&merge_request%5Btarget_branch%5D={{ target.name|url_encode }}">
                                                        {{ target.name }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <a href="{{ commit.web_url }}">{{ commit.title|u.truncate(80, '...', false) }}</a>
                </td>
                <td>
                    {{ commit.created_at|date }}
                </td>
                <td>
                    {{ commit.committer_name }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>