<div{{ attributes }} data-poll="delay(60000)|$render">
    <h4>{{ this.title }}</h4>
    <table class="table table-striped table-hover table-borderless">
        <thead>
            <tr>
                <th>Key</th>
                <th>Name</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Component</th>
                <th>Version</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in this.issues %}
            <tr>
                <td>
                    <a href="{{ this.project.url }}/browse/{{ issue.key }}" target="_blank">
                        {{ issue.key }}
                    </a>
                </td>
                <td>{{ issue.fields.summary }}</td>
                <td>{{ issue.fields.status.name }}</td>
                <td>{{ issue.fields.priority.name }}</td>
                <td>
                    {{ issue.fields.components|first.name }}
                </td>
                <td>
                    {% set fixVersion = issue.fields.fixVersions|first.name|default(false) %}
                    {% if fixVersion %}
                        <a href="https://lmdw.atlassian.net/issues/?jql=fixVersion={{ fixVersion }}%20ORDER%20BY%20created%20ASC" target="_blank">
                            {{ fixVersion }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ issue.fields.updated|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>